@page "/"

<PageTitle>Home</PageTitle>

<AuthorizeView Roles="Admin">
    <Authorized>
        <p>Bienvenido a la aplicación de pedidos, @context.User.Identity?.Name</p>
    </Authorized>
    <NotAuthorized>
        <p>Por favor, inicie sesión para acceder a la aplicación de pedidos</p>
    </NotAuthorized>
</AuthorizeView>